.navigation-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  min-width: 400px;
  width: 86%;
  min-height: 96px;
  height: 10%;
  left: 14%;
  background: #1b3d84;
}

.my-task-text {
  position: relative;
  left: 4%;
  width: 140px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  display: flex;
  color: #fcfdff;
}

.drop-down {
  display: flex;
  align-items: center;
  background: #fcfdff;
}

#nb.drop-down {
  position: absolute;
  left: 67%;
  min-height: 40px;
  height: 38%;
  min-width: 150px;
  width: 28%;
  border: 2px solid #c8d7f5;
  border-radius: 8px;
}

#pu.drop-down {
  position: relative;
  width: 380px;
  height: 40px;
  margin-top: 10%;
  border: 1px solid #1b3d84;
  border-radius: 8px;
}

#nb.drop-down:focus-within {
  border-color: #c8d7f5;
}

.dropdown-button {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  border: none;
  padding: 6px 16px;
  border-radius: 8px;
  background-color: inherit;
}

.priority-text {
  left: 8%;
  font-family: "Lato";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #1b3d84;
}

.dropdown-atom {
  position: absolute;
  right: 20px;
  top: 40%;
}

#nb.dropdown-menu {
  border: 3px solid #c8d7f5;
  left: 100% !important;
  width: 100%;
  height: 120px;
  background: #fcfdff;
  border-top: none;
  box-shadow: 5px 20px 40px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#pu.dropdown-menu {
  border: 3px solid #1b3d84 !important;
  top: -3px !important;
  width: 100%;
  height: 124px;
  position: absolute;
  background: #fcfdff;
  border-top: none;
  box-shadow: 5px 20px 40px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.item {
  background-color: inherit;
  font-family: "Lato";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
}

.type-priority {
  box-sizing: border-box;
  position: relative;
  background-color: inherit;
  width: 100%;
  text-align: left;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  height: 40px;
  border: none;
  border-top: 2px solid #c8d7f5;
  top: -9px !important;
  color: #1b3d84;
  padding: 8px 16px;
}

#Low.type-priority {
  border-top: 2px solid #1b3d84;
}

#High.type-priority {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.search-bar {
  width: 100%;
  height: 100%;
  background: #fcfdff;
  border: none;
  border: 2px solid #c8d7f5;
  border-radius: 8px;
  padding: 8px 16px;
}

.search-bar::placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #1b3d84;
}

.search-bar:hover {
  border: 2px solid #1b3d84 !important;
}

.search-bar-object {
  position: absolute;
  left: 36%;
  display: flex;
  align-items: center;
  width: 28%;
  min-width: 150px;
  height: 38%;
}

.search-atom {
  position: absolute;
  right: 20px;
  width: 17px;
  height: 17px;
  background: url("./images/searching.png");
  background-repeat: no-repeat;
  background-position: center;
}

.priority-title {
  position: absolute;
  top: 25%;
  line-height: 19px;
  color: #1b3d84;
}

.search-bar-title {
  position: absolute;
  left: 37.2%;
  top: 6%;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fcfdff;
}

.search-bar:valid {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  color: #1b3d84;
}

.drop-down:hover {
  border: 2px solid #1b3d84 !important;
}

.drop-down-description {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

#nb.drop-down-description {
  position: absolute;
  top: 6%;
  left: 68.2%;
  color: #fcfdff;
}

#pu.drop-down-description {
  position: absolute;
  top: 55px;
  left: 78px;
  color: #1b3d84;
}

@media only screen and (max-width: 1250px) {
  .navigation-bar {
    width: calc(100% - 70px);
    left: 70px;
  }
  .navbar-red-line {
    position: absolute;
    left: 70px;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: #ff4f7b;
  }
  .search-bar-object {
    left: 32%;
  }

  #nb.drop-down {
    left: 65%;
  }
  .search-bar-title {
    left: 33.5%;
  }
  #nb.drop-down-description {
    left: 66.2%;
  }
}

@media only screen and (max-width: 800px) {
  .my-task-text {
    font-size: 1.5rem;
  }
  .search-bar-object {
    width: 10%;
  }
  #nb.drop-down {
    width: 10%;
  }
}
