.logo-corner {
  display: flex;
  flex-direction: row;
  text-align: center;

  position: absolute;
  width: 14%;
  height: 10%;

  background: #fcfdff;
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 14%;
  height: 90%;
  top: 10%;

  background: #fcfdff;
}

.my-progress {
  position: absolute;
  top: 8%;

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 150%;

  color: #001134;
}

.brand-name {
  position: absolute;
  left: 27.5%;
  top: 33%;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 125%;

  display: flex;
  align-items: center;

  background: linear-gradient(
    90deg,
    #fcfdff 37.03%,
    #c8d7f5 42.97%,
    #1b3d84 53.85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.blue-vector {
  width: 52.96px;
  height: 45.9px;
  position: absolute;
  left: 26.5%;
  top: 26%;
  transform: rotate(22.41deg);
}

.pink-vector {
  width: 55px;
  height: 50px;
  position: absolute;
  left: 26.5%;
  top: 24%;
  transform: rotate(10deg);
}

.progress {
  position: relative;
  width: 45vh;
  top: 40vh;
  transform: rotate(-90deg);
}

.progress-bar {
  background: linear-gradient(
    90deg,
    #1b3d84 0%,
    #fcb2c7 91.07%,
    #a8002f 181.19%
  ) !important;
}

.percent-dot {
  position: relative;
}

.percent-text {
  position: relative;

  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 115%;

  color: #fcfdff;
}

.log-out-icon {
  position: absolute;
  width: 30px;
  top: 697px;
  left: 35px;
}

.log-out-text {
  position: absolute;
  top: 696px;
  left: 75px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #1b3d84;
}

.transparent-button {
  border: none;
  background-color: inherit;
}

.my-profile-icon {
  position: absolute;
  top: 765px;
  left: 30px;
  width: 35px;
}

.profile-pink-dot {
  position: absolute;
  top: 762px;
  left: 26px;
  width: 43px;
}

.my-profile-text {
  position: absolute;
  top: 765px;
  left: 75px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #1b3d84;
}
