.table-group {
  position: absolute;
  width: 86%;
  height: 90%;
  left: 14%;
  top: 10%;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 0.5rem;
}

.table {
  background-color: gray;
  border-radius: 5px;
  padding: 0.5rem;
}

.table-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  background-color: white;
  border-radius: 5px;
  color: black;
  margin-bottom: 0.5rem;
  font: bold;
}

.current {
  background-color: inherit;
  color: inherit;
}
