.table-backgroud {
  position: absolute;
  left: 14%;
  top: 10%;
  width: 86%;
  height: 90%;
  background: #f7f9ff;
}

.table-group {
  display: grid;
  min-height: 85%;
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 7%;
  grid-template-columns: repeat(auto-fill, 27%);
  gap: 6%;
}

.table {
  background-color: #fcfdff;
  box-shadow: 7px 10px 25px rgba(0, 17, 52, 0.1);
  border-radius: 8px;
}

.menu {
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
}

.description {
  font-size: 100%;
  color: #001134;
}

.title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 160%;

  color: #001134;
}

.table-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  background-color: white;
  border-radius: 5px;
  color: black;
  margin-bottom: 0.5rem;
  font: bold;
}

.current {
  background-color: inherit;
  color: inherit;
}
